<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213806363722-rff0p2gvtmp4ajroa3kor7n7r2o6kk6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213806363722-rff0p2gvtmp4ajroa3kor7n7r2o6kk6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDFYl4FGEgOXsCwnEkpAPVOup_N17c_QTE</string>
	<key>GCM_SENDER_ID</key>
	<string>213806363722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.momentoMedico</string>
	<key>PROJECT_ID</key>
	<string>medicup-mome</string>
	<key>STORAGE_BUCKET</key>
	<string>medicup-mome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213806363722:ios:9bfd897e9bb42326db22b3</string>
	<key>DATABASE_URL</key>
	<string>https://medicup-mome-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>